In [2]:
%autosave 0

Autosave disabled

In [3]:
import pandas as pd

In [4]:
groceries= pd.Series(data=[30,6,'Yes','No'], index=['eggs','apples','milk','bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [6]:
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements

In [7]:
print('Data:', groceries.values)
print('Index:', groceries.index)

Data: [30 6 'Yes' 'No']
Index: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [9]:
x= 'bananas' in groceries
y= 'bread' in groceries
print('Is bananas in groceries:', x)
print('Is bread in groceries:', y)

Is bananas in groceries: False
Is bread in groceries: True

In [11]:
print('How many eggs do we need to buy:',groceries['eggs'])
print('Do we need milk and bread:\n', groceries[['milk','bread']])
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs','apples']])
print('Do we need bread:\n', groceries[-1])
print('How many eggs do we need to buy:', groceries[0])
print('Do we need milk and bread:\n',groceries.iloc[[2,3]])

How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need bread:
 No
How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [12]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [13]:
groceries['eggs']=2

In [14]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [15]:
groceries['eggs']=30

In [16]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [17]:
groceries.drop('apples')

eggs      30
milk     Yes
bread     No
dtype: object

In [18]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [19]:
groceries.drop('apples',inplace=True)

In [20]:
groceries

eggs      30
milk     Yes
bread     No
dtype: object

In [22]:
fruits=pd.Series(data=[10,6,3],index=['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [23]:
fruits+2

apples     12
oranges     8
bananas     5
dtype: int64

In [24]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [25]:
fruits-2

apples     8
oranges    4
bananas    1
dtype: int64

In [26]:
fruits*2

apples     20
oranges    12
bananas     6
dtype: int64

In [27]:
fruits/2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [28]:
import numpy as np
print(fruits)

apples     10
oranges     6
bananas     3
dtype: int64

In [29]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [30]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [31]:
np.power(fruits,2)

apples     100
oranges     36
bananas      9
dtype: int64

In [32]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [33]:
fruits['bananas']+2

5

In [34]:
fruits.iloc[0]-2

8

In [35]:
fruits[['apples','oranges']]*2

apples     20
oranges    12
dtype: int64

In [36]:
fruits.loc[['apples','oranges']]/2

apples     5.0
oranges    3.0
dtype: float64

In [37]:
groceries

eggs      30
milk     Yes
bread     No
dtype: object

In [38]:
groceries*2

eggs         60
milk     YesYes
bread      NoNo
dtype: object

In [39]:
import pandas as pd
items={'Bob':pd.Series(data=[245,25,55],index=['bike','pants','watch']),
      'Alice':pd.Series(data=[40,110,500,45],index=['book','glasses','bike','pants'])}
print(type(items))

<class 'dict'>

In [40]:
shopping_carts=pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [41]:
data={'Alice': pd.Series([40,110,500,45]),
     'Bob': pd.Series([245,25,55])}
df=pd.DataFrame(data)
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [42]:
shopping_carts.shape

(5, 2)

In [43]:
shopping_carts.ndim

2

In [44]:
shopping_carts.size

10

In [45]:
shopping_carts.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [46]:
shopping_carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [47]:
shopping_carts.columns

Index(['Bob', 'Alice'], dtype='object')

In [48]:
bob_shopping_cart=pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [49]:
sel_shopping_cart=pd.DataFrame(items,index=['pants','book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [50]:
alice_sel_shopping_cart=pd.DataFrame(items,index=['glasses','bike'],columns=['Alice'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [52]:
data={'Integers':[1,2,3],
     'Floats':[4.5,8.2,9.6]}
df=pd.DataFrame(data)
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6

In [53]:
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}
df=pd.DataFrame(data,index=['label 1', 'label 2', 'label 3'])
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [54]:
items2=[{'bikes':20,'pants':30,'watches':35},
       {'watches':10,'glasses':50,'bikes':15,'pants':5}]
store_items=pd.DataFrame(items2)
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [4]:
items2=[{'bikes':20,'pants':30,'watches':35},
       {'watches':10,'glasses':50,'bikes':15,'pants':5}]
store_items=pd.DataFrame(items2, index=['store 1','store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [5]:
store_items['bikes']

store 1    20
store 2    15
Name: bikes, dtype: int64

In [6]:
store_items[['bikes']]

         bikes
store 1     20
store 2     15

In [7]:
store_items[['bikes','pants']]

         bikes  pants
store 1     20     30
store 2     15      5

In [8]:
store_items.loc[['store 1']]

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [9]:
store_items[['store 1']]

KeyError: "None of [Index(['store 1'], dtype='object')] are in the [columns]"

In [10]:
store_items['bikes']['store 2']

15

In [11]:
store_items['shirts']=[15,2]
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [12]:
store_items['suits']=store_items['pants']+store_items['shirts']
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

In [13]:
import pandas as pd
new_items=[{'bikes':20,'pants':30,'watches':35,'glasses':4}]
new_store=pd.DataFrame(new_items,index=['store 3'])
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [14]:
store_items=store_items.append(new_store)

In [15]:
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

In [16]:
store_items['new watches']=store_items['watches'][1:]
store_items

         bikes  pants  watches  glasses  shirts  suits  new watches
store 1     20     30       35      NaN    15.0   45.0          NaN
store 2     15      5       10     50.0     2.0    7.0         10.0
store 3     20     30       35      4.0     NaN    NaN         35.0